<!DOCTYPE html>
<html>
<head>
<title>Dashboard - Smart Study Planner</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="dashboard-container">

<h1>Smart Study Planner</h1>
<p class="subtitle">Welcome to your dashboard</p>

<div class="dashboard-buttons">

<a href="/create_plan" class="dash-btn">Create Study Plan</a>

<a href="/view_plan" class="dash-btn">View Study Plans</a>

<a href="/logout" class="dash-btn logout-btn">Logout</a>

</div>

</div>

</body>
</html>