<!DOCTYPE html>
<html>
<head>
<title>Login - Smart Study Planner</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-container">

<h1>Smart Study Planner</h1>
<p class="subtitle">Login to continue</p>
{% with messages = get_flashed_messages() %}
{% if messages %}
<p class="error">{{
     messages[0] }}</p>
{% endif %}
{% endwith %} 

<form id="loginForm" method="POST">

<input type="text" name="username" id="username" placeholder="Username" required>

<div class="password-wrapper">
     <input type="password" name="password" id="password" placeholder="Password" required >
     <span id="showPassword">👁️</span>
</div>


<button type="submit">Login</button>

</form>


<p class="register-link">
Don't have an account?
<a href="/register">Register</a>
</p>

</div>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>